nav {
    .direction(row);
    .justify(space-between);
    padding: 2.5% 0;

    .logo {

    }

    .links {
        .align(center);
        width: 30%;
        .justify(space-between);


        a {
            font-size: 2rem;
            color: @nav-font;
            text-decoration: none;
        }
        

        button {
            border-color: black;
            border-radius: 10px;
            padding: 4% 8%;
        }

    }
}