//******************* HERO  ******************************


.hero {

    img {
        width: 100%;
        // max-height: 80%;
        // height: 100%;
    }

    .heroDescription {
        .align(center);
        .direction(column);
        padding: 3% 10%;
    
        h1 {
            padding-bottom: 3.5%;
        }
    }

}


//**************************** MAIN PICS **************************
.mainPics {

    .topPics, .bottomPics {
        .justify(space-between);
    }
    .dashboard, .userSummary, .mainTrips, .tripSummary {
        width: 48%;
        .direction(column);

        .text { 
            .justify(center);
            width: 80%;
            p {
                // width: 80%;
                .justify(center);
            }
        }
    }

    .imgContainer {
        .justify(center);
    }

//     .text {
//         font-size: 
//     }
}



//************************** TESTIMONIALS ******************************

.testimonials {
    p {
        width: 32%;
    }
}