//******************* HERO  ******************************


.hero {
    .align(center);
    .direction(column);

    .heroImgs {
        .direction(row-reverse);
        #map {
            width: 100%;
        }
    }

    .heroText {

        p{
            width: 100%;
            text-align: center;
            font-size: 2.5rem;
            font-weight: bold;
            padding: 8% 0;
            color: #5C6070;
        }
    }
}


//**************************** MAIN PICS **************************
.mainPics {
    .topPics {
        margin-bottom: 4%;
    }

    .topPics, .bottomPics {
        .justify(space-between);

        .dashboard, .userSummary, .mainTrips, .tripSummary {
            width: 48%;
            .direction(column);
            padding: 2% 0;
    
            .text { 
                // .justify(center);
                // .align(center);
                width: 90%;
                border: 4px solid white;
                border-radius: 10px;

                p {
                    text-align: center;
                }
            }
            .imgContainer {
                .justify(center);
                padding-top: 3%;
            }
        }

        .dashboard, .tripSummary {
            background: #7DDFC3;
        }
        .userSummary, .mainTrips {
            background: #FDB4BF;
        }
    }
}



//************************** TESTIMONIALS ******************************

.testimonials {
    margin-top: 6%;
    margin-bottom: 3%;
    .justify(space-between);
    background: #FFE6EA;
    padding: 2%;
    
    P {
        text-align: center;
    }

    .speech-bubble {
        border-color: #F9FBFC;
    }
    
    .strong {
        font-weight: bold;
    }

    .firstCol {
        width: 23%;
        .direction(column); 
        align-items: center;
        img {
            padding-top: 8%;
        }
    }

    .secondCol {
        width: 23%;
        .direction(column);  
        align-content: space-between;

        .speech-bubble, .testImg {
            height: 42%;
        }

        .speech-bubble{
            padding-top: 15%;
        }
        
    }
    
    .thirdCol {
        .direction(column-reverse);
        width: 23%;

        .speech-bubble, .testImg {
            height: 48%;
        }

        .speech-bubble{
            padding-top: 30%;
        }
    }

    .fourthCol {
        width: 23%;
        .direction(column);  
    }

    .testImg {
        .justify(center);
        
        img {
            width: 100%;
        }
    }
}

