//******************* HERO  ******************************
.hero {
    .align(center);
    .direction(column);

    .heroImgs {
        .direction(row-reverse);
        #map {
            width: 100%;
            border-radius: 10px;
        }
    }

    .heroText {
        p{
            width: 100%;
            text-align: center;
            font-size: 2.5rem;
            font-weight: bold;
            padding: 8% 0;
            color: #5C6070;
        }
    }
}

//**************************** MAIN PICS **************************
.mainPics {
    .topPics {
        margin-bottom: 4%;
    }

    .topPics, .bottomPics {
        .justify(space-between);
        .direction(row);

        .dashboard, .userSummary, .mainTrips, .tripSummary {
            width: 48%;
            .direction(column);
            padding: 2% 0;
            border-radius: 10px;
    
            .text { 
                margin: auto;
                width: 60%;
                border: 4px solid white;
                border-radius: 10px;

                p {
                    text-align: center;
                    padding: 2.5% 0;
                    font-weight: 900;
                }
            }
            .imgContainer {
                .justify(center);
                padding-top: 3%;

                img {
                    border-radius: 10px;
                }
            }
        }

        .dashboard, .tripSummary {
            background: #7DDFC3;
        }
        .userSummary, .mainTrips {
            background: #FDB4BF;
        }
    }
}

//************************** TESTIMONIALS ******************************

.testimonials {
    margin-top: 5%;
    margin-bottom: 3%;
    .justify(space-between);
    background: #FFE6EA;
    padding: 2%;
    border-radius: 10px;

    .firstCol, .secondCol, .thirdCol, .fourthCol {
        width: 23%;
        .direction(column);

        .speech-bubble{
            .justify(center);
            .direction(column);
            text-align: center;
            padding: 1%;
            border: 4px solid #5C6070;
            border-radius: 10px;

            P {
                text-align: center;
                font-size: 1.6rem;
            }
    
            .strong {
                font-weight: 700;
                font-size: 1.5rem;
                font-style: italic;
            }
        }
        .testImg {
            .justify(center);
            
            img {
                width: 100%;
                border-radius: 10px;
            }
        }
    }

    .secondCol, .thirdCol {
        .justify(space-between);

        .speech-bubble, .testImg {
            height: 42%;
        }
    }
    
    .thirdCol {
        .direction(column-reverse);
    }

    .fourthCol {
        .justify(center);
        align-items: center;

        .speech-bubble {
            width: 90%;
            padding:7% 5%;
        }
    }
}


//********************* MEDIA QUERIES ******************

@media @phone {
    .mainPics {
        .direction(column);
        align-content: center;

        .topPics, .bottomPics {
            width: 100%;

            img {
                display: none;
            }
        }
    }
}


@media @phone {
    .testimonials {
        .direction(column);

        .firstCol, .secondCol, .thirdCol, .fourthCol {
            width: 100%;

            img {
                margin: 5% 0;
            }
            
            .speech-bubble {
                padding: 5% 1%;
            }
        }

        .thirdCol {
            .direction(column);
        }
    }
}