// colors pointers *************************
@buttonColor: @red-alert;




// colors *************************
@primaryColor: #6DA4F8;
@accentColor: #FD9BAA;
@greens: #7DDFC3;
@red-alert: #F27373;
@grays: #5C6070;
@nav-font: black;